@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-3 md:px-0;
}
.boxShaDow {
  box-shadow: #00000026 -5px -4px 20px 0px;
}

.logInBg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
      29deg,
      rgba(0, 0, 0, 0.9667038690476191) 49%,
      rgba(0, 0, 0, 0.7566198354341737) 76%,
      rgba(0, 0, 0, 0.5941548494397759) 98%
    ),
    url(https://source.unsplash.com/random/?city,office,programming);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fc-toolbar-title{
  @apply !text-lg md:!text-2xl;
}
.fc-button{
  @apply !text-sm md:!text-base;
}

.fc-event{
  @apply hover:!bg-slate-800 cursor-pointer transition-colors duration-300
}

.rdrDateDisplayWrapper{
  @apply hidden
}
.rdrCalendarWrapper {
  @apply rounded-md border bg-slate-800
}
.rdrDayNumber span{
  @apply !text-white opacity-80
}
.time-picker{
  @apply mt-4
}
.rc-time-picker-input{
  @apply !bg-slate-800 text-white opacity-70
}
.rc-time-picker-panel-inner{
  @apply !bg-slate-800 text-white !shadow-lg shadow-black
}
.rc-time-picker-panel-select-option-selected{
  @apply !bg-slate-700 text-white
}
.rc-time-picker-panel-select ul li:hover{
  @apply !bg-slate-700 text-white
}

.rc-time-picker-panel-select{
  @apply scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-800
}

.basic-multi-select{
  @apply !mt-3
}
.select__input-container input{
  @apply !py-1
}
.select__control{
  @apply !border-none !shadow-none
}